:root{
    --border-radius: 5px;
    --item-color: rgba(152, 94, 214, 0.8);
    --text-color: white;
    --highlight-color: rgb(219, 50, 134);
    --background-color: rgba(101, 64, 157, 0.8);
}

body{
    background-color: #191c1f;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color: var(--text-color);
    -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* hide scrollbar for Firefox */
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{    /* hide scrollbar for Chrome browsers */
    display: none;
}

.clock{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size:100px;
    padding: 20px;
    color: black;
}

section{
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

/* main flex */
.flex-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.flex-item{
    margin: 10px;
    width: 70%;
    max-width: 900px;
}

html, body, .flex-container{
    height: 100%;    /* expanding the flex-containers to 100% height */
}

/* link group flex */
.link-group{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

/* link flex */
.link-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 180px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.link-tile{
    margin: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 7px;
    text-align: center;
    background-color: var(--item-color);
    border-radius: var(--border-radius);
    transition: background-color 0.2s ease-out;
    font-size: 1.25em;
    cursor: pointer;
}

 .link-tile:link, .link-tile:visited{
    color: var(--text-color);
    text-decoration: none;
}

.link-tile:hover{
    background-color: var(--highlight-color);
}

/* feed container */
.feed{
    min-height: 80vh;
    width: fit-content;
    max-width: 750px;
    overflow: auto;
    -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* hide scrollbar for  Firefox */
}

.feed::-webkit-scrollbar{ /* custom scrollbar for Chrome*/
    width: 10px;    /* should be 2 * --border-radius */
}
.feed::-webkit-scrollbar-thumb{
    background: var(--item-color);
    border-radius: var(--border-radius);
}
.feed::-webkit-scrollbar-thumb:hover{
    background: var(--highlight-color);
}

/* feed entrys */
.feed a{
  text-decoration: none; /* removing link decoration */
  color: var(--text-color);
  transition: color 0.2s ease-out;
}
.feed a:hover{
    color: var(--highlight-color);
}

.feed ul{
    padding: 0px;
    margin: 0px;
}

.feed li, .feed h3{ /* all list items */
    display: block;
    border-radius: var(--border-radius);
    margin: 10px;
    margin-left: 10px;
}

.feed-news-entry{
    background-color: var(--item-color);
}

.feed h3, .feed-time-entry{ /* informarion items */
    font-size: 19px;
    font-weight: bold;
    background-color: var(--highlight-color);
    border-radius: var(--border-radius);
    padding: 7px;
}

.feed h3{
    margin-top: 10px;
}

/* inside of feed entrys */
.feed-meta-title-container{
    flex-flow: column;
    flex-wrap: nowrap;
}

.feed-meta-title{
    font-size:larger;
    font-weight: bold;
}

.feed-meta-title-container img{
    margin: 5px;
    width: 42px;
    height: 42px;
    float: right;
}

.feed-entry-title{
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
}

.feed-time, .feed-entry-description, .feed-entry-title, .feed-meta-title{
    display: block;
    padding: 5px;
}

.feed-entry-description img{
    border-radius: var(--border-radius);
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 350px;
}

.feed-entry-description{
    padding-top: 0px;
    padding-bottom: 0px;
}

.feed-entry-description *{
    margin: 0px !important;
    padding: 0px !important;
}

.feed-time{
    text-align: right;
}

@media (max-width: 960px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-item{
        width: unset;
        max-width: none;
    }

    .clock{
        text-align: center;
        font-size:20vw;
    }

    .link-group{
        justify-content:space-around;
    }
}